body {
    font-family: "Karla", sans-serif;
    background-color: #84bbd271;
    background-image: url(https://s3.amazonaws.com/shecodesio-production/uploads/files/000/151/069/original/dominik-schroder-FIKD9t5_5zQ-unsplash.jpg?1732201473);
    background-size: cover;
    text-align: center;
}

.outside-structure {
    display: block;
    margin: auto;
    margin-top: 75px;
    background-color: rgb(220, 244, 228);
    max-width: 800px;
    border-radius: 24px;
    padding: 50px 0 20px;
    box-shadow: 0 0 20px #216a52bd;
    

}


.search {
    font-size: 20px;
    border-radius: 20px;
    padding: 10px 70px;
    border-style: none;
    background-color: #fffbf1;
    box-shadow: 0 0 5px rgba(0, 0, 0, 0.639);
    

}
.submit {
    font-size: 18px;
    border-radius: 20px;
    padding: 6px 25px;
    border-style: none;
    background-color: #43a38591;
    color: #757575;
    text-shadow: 0 0 2px #fffbf1;
    margin-left: 20px;
    letter-spacing: 2px;

}      

.city-temp {
    display: flex;
    justify-content: center;
    
}

h1 {
    color: #0079d6;
    font-size: 60px;
    text-shadow: 0 0 5px #67ccea;
    font-weight: 700;
    margin-top: 55px;
    margin-right: 50px;
    
}
 
.emoji {
    padding-top: 35px;
    
}
.temp {
    padding-top: 50px;
}
.temp-n {
    font-size: 70px;
    font-weight: 700;
   
    
}

.celsius {
    color:rgba(0, 0, 0, 0.686);
    
}

p {
    margin: 45px auto;
    line-height: 25px;
    font-weight: 600;
}

p strong {
    color: #0090ff;
    line-height: 30px;
}
a {
    color: #43a38591;
}

a:hover {
    cursor: pointer;
    color: rgb(110, 108, 108);
}
.submit:hover {
    color: black;
    cursor: pointer;
}

hr {
    border-bottom: #8786864a;
    margin: 15px;

}